.btn-container {
    display: flex;
}

.btn-container form {
    margin-right: 10px;
}

.btn-container form:last-child {
    margin-right: 0;
}

.back-link {
    text-decoration: none;
    color: #333;
}

.back-link i {
    margin-right: 5px;
}
